import React from 'react';
// import PropTypes from 'prop-types';

/**
 * {{ properCase name }}
 */
export default class {{ properCase name }} extends React.Component {
  render() {
    return (
      <div>{{ properCase name }}</div>
    );
  }
}

{{ properCase name }}.propTypes = {};

{{ properCase name }}.defaultProps = {};
