import React from 'react';
// import PropTypes from 'prop-types';

const {{ properCase name }} = (props) => <div>{{ properCase name }}</div>;

{{ properCase name }}.propTypes = {};

{{ properCase name }}.defaultProps = {};

export default {{ properCase name }};
